/* 设置卡片的高度和其他通用样式 */
.row-flex-container {
    display: flex;
    align-items: stretch;
}

.card {
    min-height: 250px;
}

.firstRowCard {
    height: 60vh;
    min-height: 600px;
    /* 添加其他样式 */
}


.secondRowColCard {
    height: 34vh;
    /* 添加其他样式 */
}

.welcomeCard {
    height: 20vh;
}

.info-title {
    display: flex;
    align-items: center;
    padding: 0.0625em 0; /* 1px / 16px */
}

.info-content {
    color: #3f8600;
    font-size: 1.625em; /* 26px / 16px */
}

.service-icon {
    width: 1.5625em; /* 25px / 16px */
    height: 1.5625em; /* 25px / 16px */
    vertical-align: middle;
    margin-right: 0.3125em; /* 5px / 16px */
}

.info-content-img{
    color: #cf1322;
    font-size: 1.625em;
}

.inner-card {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.greeting-title{
    font-size: 18px;
    font-weight: bold
}

.sun-icon {
    color: #FFD43B;
}

.moon-icon {
    color: #B197FC;
}

.responsive-col {
    margin-bottom: 16px;
}

/* 对小屏幕进行特别处理的媒体查询 */
@media screen and (max-width: 768px) {
.info-content, .info-content-img {
    font-size: 1.2em; /* 在小屏幕上减小字体大小 */
}}



