.custom-upload .ant-upload-list-item .ant-upload-list-item-done{
    width: 200px !important;
    height: 200px !important;
}

.custom-upload .ant-upload-list-item-container {
    width: 145px !important;
    height: 145px !important;
    margin: 10px !important;
}

.custom-upload .ant-upload-select{
    width: 145px !important;
    height: 145px !important;
    margin: 10px !important;
}




